body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
	background-image: url("nuage.jpg");
	background-size: cover;
}
.logo {
    width: 200px;
    margin: 10px 0;
}
.form-container {
    width: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1 {
	color:#E6E6E6;
}	
	

label {
    text-align: left;
    font-weight: bold;
	color:#E6E6E6;
	background: #303030;
	border-radius: 5px;
}



h2 {
    text-align: center;
    font-weight: bold;
	color:#E6E6E6;
	background: #303030;
	border-radius: 5px;
}




input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
button {
    padding: 10px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #005fcc;
}
#resultat {
    margin-top: 20px;
    color: #0a4;
    font-size: 18px;

}

